version: 2.1

orbs:
  python: circleci/python@1.4.0
  codecov: codecov/codecov@1.1.0

jobs:
  linux38:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          name: Load python
          command: pyenv global 3.8.3
      - run:
          name: Install dependencies
          command: pip install -r requirements.dev.txt
      - run:
          name: Run Tests
          command: pytest --cov=./ --cov-report=xml
      - codecov/upload:
          file: coverage.xml
      - store_artifacts:
          path: prof/
      - store_test_results:
          path: .
    resource_class: large
  linters:
    executor:
      name: python/default
      tag: "3.8"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.dev.txt
      - run:
          pre-commit run --all-files

workflows:
  main:
    jobs:
      - linux38
      - linters
