version: 2.1

orbs:
  python: circleci/python@1.4.0
  codecov: codecov/codecov@1.1.0

jobs:
  linux36:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          name: Install python
          command:   cd /opt/circleci/.pyenv/plugins/python-build/../.. && git pull && cd - && pyenv install 3.6.14
      - run:
          name: Load python
          command: pyenv global 3.6.14
      - run:
          name: Run tests
          command: pip install tox==3.24.0 && tox -e py36
      - codecov/upload:
          file: coverage.xml
      - store_artifacts:
          path: prof/
      - store_test_results:
          path: .
    resource_class: large
  linux37:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          name: Install python
          command:   cd /opt/circleci/.pyenv/plugins/python-build/../.. && git pull && cd - && pyenv install 3.7.11
      - run:
          name: Load python
          command: pyenv global 3.7.11
      - run:
          name: Run tests
          command: pip install tox==3.24.0 && tox -e py37
      - codecov/upload:
          file: coverage.xml
      - store_artifacts:
          path: prof/
      - store_test_results:
          path: .
    resource_class: large

  linux38:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          name: Load python
          command: pyenv global 3.8.3
      - run:
          name: Run Tests
          command: pip install tox==3.24.0 && tox -e py38
      - codecov/upload:
          file: coverage.xml
      - store_artifacts:
          path: prof/
      - store_test_results:
          path: .
    resource_class: large
  linux39:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run:
          name: Install python
          command:   cd /opt/circleci/.pyenv/plugins/python-build/../.. && git pull && cd - && pyenv install 3.9.5
      - run:
          name: Load python
          command: pyenv global 3.9.5
      - run:
          name: Run tests
          command: pip install tox==3.24.0 && tox -e py39
    resource_class: large
  linters36:
    executor:
      name: python/default
      tag: "3.6"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.dev.txt
      - run:
          pre-commit run --all-files
      - run:
          mypy --ignore-missing-imports --scripts-are-modules .
  linters37:
    executor:
      name: python/default
      tag: "3.7"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.dev.txt
      - run:
          pre-commit run --all-files
      - run:
          mypy --ignore-missing-imports --scripts-are-modules .
  linters38:
    executor:
      name: python/default
      tag: "3.8"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.dev.txt
      - run:
          pre-commit run --all-files
      - run:
          mypy --ignore-missing-imports --scripts-are-modules .
  linters39:
    executor:
      name: python/default
      tag: "3.9"
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r requirements.dev.txt
      - run:
          pre-commit run --all-files
      - run:
          mypy --ignore-missing-imports --scripts-are-modules .

workflows:
  main:
    jobs:
      - linux36
      - linux37
      - linux38
      - linux39
      - linters36
      - linters37
      - linters38
      - linters39
